
@model AllCrud.Models.Transaction

@{
    ViewData["Title"] = "Transactions";
}

<h3 class="text-center"><i class="fas fa-comment-dollar text-success"></i>Transaction History</h3>
<div class="container">
   
    <button type="button" class="btn btn-primary rounded-0 show-modal" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus"></i> Add
    </button>
    <div id="tbod"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">List</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="trTable" class="table table-bordered table-striped dataTable no-footer" cellspacing="0">
                        <thead>
                            <tr>
                               <th>Id</th>
                                <th>BankName</th>
                                <th>SwiftCode</th>
                                <th>Amount</th>
                                <th>PhoneNumber</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal popup form -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title text-center">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateEdit", "Transaction", FormMethod.Post, new { id = "frmTransaction", @class = "form-material m-t-40" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    

                    <div class="row">
                        
                        <div class="col-md-6">
                            <input type="hidden" id="id" asp-for="@Model.Id" />
                            <div class="form-group">
                                <label>Bank Name</label>
                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control form-control-line", id = "bankName", placeholder = "bank name", required = "required", title = "mobile_no" })
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Swift Code</label>
                                @Html.TextBoxFor(m => m.SwiftCode, new { @class = "form-control form-control-line", id="swiftCode", placeholder="Swift Code", required = "required", title = "Swift Code" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount</label>
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control form-control-line", id = "amount", placeholder = "amount", required = "required", title = "amount" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-line", id = "phoneNumber", placeholder = "Phone Number", required = "required", title = "amount" })
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div style="display:flex; align-items:right;justify-content:end;">
                        <button type="button" id="btnAdd" onclick="btnSave()" class="btn waves-effect waves-light btn-primary rounded-0">Submit</button>
                        <button type="button" id="btnUpdate" onclick="Update()" class="btn waves-effect waves-light btn-primary rounded-0">Update</button>
                        <button class="btn waves-effect waves-light btn-secondary ml-1 rounded-0" onclick="Cancel()" data-dismiss="modal" data-toggle="quickview" aria-hidden="true">cancel</button>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>

@section Scripts{
        <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="~/lib/toastr.js/toastr.min.js"></script>
}